.footer {
    display: block;
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    transition: 0.5s;
    text-decoration: none;
}

.footer:hover {
    transform: scale(1.1);
}

.footer:visited {
    color: white;
}