.actions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.actions img {
    display: inline-block;
    margin: 10px 20px;
    width: 24px;
    height: 24px;
}

.actions img {
    cursor: pointer;
}

.rotate {
    animation: rotation 1s;
}

@keyframes rotation {
    100% {transform: rotate(-360deg);}
}
